<div class="container"
     fxLayout="row"
     fxLayoutGap="10px"
     fxLayout.lt-md="column">

  <mat-card fxFlex="70"
            fxHide.lt-md>
    <mat-card-content>
      <h1 class="no-padding-margin">The Place To Showoff.</h1>
      <div class="container margin-top-75"
           fxLayout="row"
           fxLayoutAlign="space-around center">
        <mat-icon svgIcon="flare"
                  style="width: 15%; height: 15%;"></mat-icon>
        <mat-icon svgIcon="visibility"
                  style="width: 15%; height: 15%;"></mat-icon>
        <mat-icon svgIcon="supervisor_account"
                  style="width: 15%; height: 15%;"></mat-icon>
      </div>
      <div class="container margin-bottom-56"
           fxLayout="row"
           fxLayoutAlign="space-around center">
        <h2 class="center-text">Show The World Your Talents</h2>
        <h2 class="center-text">Get Recognized For Them</h2>
        <h2 class="center-text">Gain Support And Compensation</h2>
      </div>
      <h1 class="no-padding-margin">Everything is free.</h1>
      <h1 class="no-padding-margin">Everything is designed for you.</h1>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="30"
            id="main-card">
    <mat-card-content>
      <mat-tab-group dynamicHeight="true">
        <mat-tab label="Sign Up">
          <app-signup></app-signup>
        </mat-tab>
        <mat-tab label="Login">
          <app-login></app-login>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>