<div fxLayout="column">

  <app-header class="fixed-header"
              (iconClick)="sidenav.toggle()">
  </app-header>

  <mat-sidenav-container class="fill-space recolor-background"
                         id="side-nav-container">
    <mat-sidenav #sidenav
                 class="recolor-background"
                 fixedInViewport="true"
                 fixedTopGap="42">
      <app-sidebar [loggedIn]="isUserLoggedIn()"
                   (sideMenuClick)="sidenav.toggle()">
      </app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="margin-top-42">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
