/* You can add global styles to this file, and also import other style files */
@import './color-theme';
$background-color: #E1EAEA;
$full-white: #ffffff;
$primary-blue: #2196f3;


body {
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $background-color;
}

h1 {
  font-size: 2.5vw;
}

h2 {
  font-size: 2vw;
}

h3 {
  font-size: 1.5vw;
}

mat-sidenav {
  width: 150px;
}

/* Useful Classes */
@media screen and (max-width: 959px) {
  .container {
    margin: 20px 0px;
  }
}

@media screen and (min-width: 960px) {
  .container {
    margin: 20px;
  }
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.fill-space {
  flex: 1 1 auto;
}

.almost-half-width {
  width: 45%;
}

.full-width {
  width: 100%;
}

.center-text {
  text-align: center;
  width: 30%;
}

.no-padding-margin {
  margin: 0px;
  padding: 0px;
}

#no-border-button {
  border-radius: 0px;
}

.bold {
  font-weight: bold;
}

.recolor-background {
  background-color: $background-color;
}

/* Recolor of components */
.mat-button-toggle-checked {
  background-color: $primary-blue;
  color: $full-white;
}

.mat-button-toggle-disabled.mat-button-toggle-checked {
  background-color: $primary-blue;
  color: $full-white;;
}

/* Header */
.mat-toolbar-single-row {
  height: 42px;
}

/* Main Page */
#login {
  padding: 0 100px;
}

#signup {
  padding: 0 100px;
}

#mat-tab-label-0-0, #mat-tab-label-0-1 {
  min-width: 49%;
  height: 30px;
  opacity: 1;
}

.mat-tab-label-active, #mat-tab-label-0-0:focus, #mat-tab-label-0-1:focus {
  color: $full-white;
  background-color: $primary-blue;
}

#main-card {
  padding: 0px 24px 24px 24px;
}

.large-font-size {
  font-size: 6vw;
}

/* Side Bar */
#side-nav-container .mat-drawer-backdrop {
  position: fixed;
}